
@import url(red-hat-display.css);


body {
    
    background: #000;
    display:grid;
    justify-content:center;
    align-content: center;
    height:100vh;
    
}


h1 {
    font-family: 'RedHatDisplay-Bold';
    color: white;
    text-align:center; 
}
p{
    font-family: 'RedHatDisplay-Regular';
    color:white;
    padding:1em;
    
}
h2{
    font-family: 'RedHatDisplay-SemiBoldItalic';
    text-align:center;
    color:white;
    
}

img{
    margin:auto;
    width:400px;
    height:400px;
}
a{
    text-align:center;
}
a:link,
  a:visited{
    color: white;
    transition:200ms;
    text-decoration: none;
  }
  a:hover,
  a:active {
    transition:200ms;
    color: blue;
  }

  
 
