
@import url(red-hat-display.css);


body {
    
    background: #000;
    background-image: url(/Background.svg);
    display:grid;
    justify-content:center;
    align-content: center;
    height:100vh;
    
}








  /* stinky pico has a defaulted container and thats dumb and icky and yuck*/
  .myBox{
    
    height: 90vh;
    width: 90vw;
  background-color: rgba(217,217,217, .1);
    display:grid;
      justify-content:center;
      align-content: center;
  backdrop-filter: blur(49px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 61px;
  }
  
  .myBox2{
    
    height: 83vh;
    width: 86vw;
  background-color: rgba(217,217,217, 0.1);
 
  display:grid;
      justify-content:center;
      align-content: center;
  border-radius: 55px;
  }

/*my Image Slider*/

.carousel {
 /*border:solid 2px red;*/
  margin:auto;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.carousel img {
  
  position: absolute;
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel img.active {
  opacity: 1;
}

.carousel button {
  position: absolute;
  display:flex;
    flex-direction: row;
    justify-content:space-between;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding:auto;

  /*border: solid 2px red;*/
  background-color: transparent;
  color: red;
  cursor: pointer;
  border-style: none;
}

.carousel button.prev {
  width:90px;
  left: 0px;
  
  
}

.carousel button.next {
  width:90px;
  right: 0px;
  
}
/*
img{
    
  margin:auto;
  width:400px;
  height:400px;
}
*/
  /*socials and links*/

  #socialsBox{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .socials{
    width: 268px;
    height: 133px;
    background:black;
    box-shadow: -10px -11px 0px #F4E409;
    border-radius: 15px;
    display:grid;
    justify-content:center;
    align-content: center;
    }
    
  a{
      text-align:center;
  }
  a:link,
    a:visited{
      color: white;
      transition:200ms;
      text-decoration: none;
    }
    a:hover,
    a:active {
      transition:200ms;
      color: blue;
    }
/*headings*/
    h1 {
   
      font-family: 'RedHatDisplay-Bold';
      color: white;
      text-align:center; 
  }
  p{
     
      font-family: 'RedHatDisplay-Regular';
      text-align:center; 
      color:white;
      padding:1em;
      
  }
  h2{
      
      font-family: 'RedHatDisplay-SemiBoldItalic';
      text-align:center;
      color:white;
      
  }

 
