
@import url('red-hat-display.css');


body {
    background: #000;
    display:grid;
    justify-content:center;
    align-content: center;
    height:100vh;
    
}


h1 {
    font-family: 'RedHatDisplay-Bold';
    color: white;
    text-align:center; 
}
p{
    color:white;
    
}

